@model JobPortal.Models.PostJob

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PostJob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostJobId" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacancies" class="control-label"></label>
                <input asp-for="Vacancies" class="form-control" />
                <span asp-validation-for="Vacancies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCreatedAt" class="control-label"></label>
                <input asp-for="PostCreatedAt" class="form-control" />
                <span asp-validation-for="PostCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDate" class="control-label"></label>
                <input asp-for="LastDate" class="form-control" />
                <span asp-validation-for="LastDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinSalary" class="control-label"></label>
                <input asp-for="MinSalary" class="form-control" />
                <span asp-validation-for="MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSalary" class="control-label"></label>
                <input asp-for="MaxSalary" class="form-control" />
                <span asp-validation-for="MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebUrl" class="control-label"></label>
                <input asp-for="WebUrl" class="form-control" />
                <span asp-validation-for="WebUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoRequirementId" class="control-label"></label>
                <select asp-for="JoRequirementId" class="form-control" asp-items="ViewBag.JoRequirementId"></select>
                <span asp-validation-for="JoRequirementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStatusId" class="control-label"></label>
                <select asp-for="JobStatusId" class="form-control" asp-items="ViewBag.JobStatusId"></select>
                <span asp-validation-for="JobStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <textarea asp-for="JobDescription" class="form-control"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobNatureId" class="control-label"></label>
                <select asp-for="JobNatureId" class="form-control" asp-items="ViewBag.JobNatureId"></select>
                <span asp-validation-for="JobNatureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
