@model JobPortal2.Models.ApplyJob

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ApplyJob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplyJobId" />
            <div class="form-group">
                <label asp-for="ApplicantName" class="control-label"></label>
                <input asp-for="ApplicantName" class="form-control" />
                <span asp-validation-for="ApplicantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppliedAt" class="control-label"></label>
                <input asp-for="AppliedAt" class="form-control" />
                <span asp-validation-for="AppliedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostJobId" class="control-label"></label>
                <select asp-for="PostJobId" class="form-control" asp-items="ViewBag.PostJobId"></select>
                <span asp-validation-for="PostJobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
