@using Restaurant.Areas.RestMgmt.ViewModels
@model ShowItemViewModel
@{
}

<h1>List of  Food Items in the Restaurant</h1>

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoriesCollection" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Show Items</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div>
<a class="btn btn-sm btn-primary" asp-area="RestMgmt" asp-controller="Categories" asp-action="Index">List of Categories</a> |
 <p><a class="btn btn-sm btn-primary" href="/">Home</a></p>
</div>